body {
    font-family: Arial, sans-serif;
    background: #f3f6f9;
    color: #333;
    margin: 0;
    text-align: center;
}
header {
    background: #0073bb;
    color: white;
    padding: 1.5em;
}
a {
    color: #0073bb;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
footer {
    background: #0073bb;
    color: white;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
